{{#bs-navbar
  type="dark"
  backgroundColor="dark"
  collapsed=collapsed
  onCollapse=(action (mut collapsed) true)
  onExpand=(action (mut collapsed) false)
as |navbar|
}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Things to Do{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}Today{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "logbook"}}Logbook{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "compose"}}New{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}

<div class="left">
  {{#bs-accordion as |acc|}}
    {{#each model as |task|}}
      {{#unless task.done}}
        {{#acc.item value=task.id title=task.name}}
          <p hidden data-test="name">
            {{task.name}}
          </p>
          <p hidden data-test="notes">
            {{task.notes}}
          </p>
          <p data-test="task">
            Notes: {{truncate-text task.notes 50}}
          </p>
          {{#link-to "edit" task.id}}{{#bs-button type="info"}}Edit{{/bs-button}}{{/link-to}}
          <div class="main_buttons">
            {{#bs-button onClick=(action "done" task) type="success"}}Done{{/bs-button}}
            {{#bs-button onClick=(action "deleteTask" task) type="danger"}}Delete{{/bs-button}}
            <button hidden data-test="delete-task" onclick={{action "deleteTask" task}}>Done</button>
          </div>
        {{/acc.item}}
      {{/unless}}
    {{/each}}
  {{/bs-accordion}}
</div>
<div class="right">
  <div class="remainingText">
    <p>
      You have {{TaskNotDone.length}} Tasks remaining for today!
    </p>
    <p>
      Time remaining for today:
    </p>
    <p id="timeremaining"></p>
  </div>
</div>
{{outlet}}
